:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--col-text-light);
  background-color: var(--col-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --col-primary-highlight: #a076bd;
  --col-primary-mid: #61397c;

  --col-warning: #e74e4e;
  
  --col-white: #f4f4f4;
  --col-black: #1b1b1b;

  --col-text-light: #ffffff;
  --col-text-dark: #213547;

  --col-gray-1: #c2c2c2;
  --col-gray-2: #808080;
  --col-gray-3: #3a3a3a;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  border: none;
  padding: 10px 24px;
  text-align: center;
  font-size: large;
  border-radius: 24px;

  cursor: pointer;
  font-weight: bold;
  transition: 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--col-text-dark);
    background-color: var(--col-white);
  }
}
